<div>
<form action="/signin_complete" method="POST">
<div class="heading"><span class="signin">Please sign in</span></div>
<input type="text" name="user_name" />
<input type="text" name="user_email" />
<input type="password" name="user_password" />
<input class="signinSubmit" type="submit" value="Sign in" />
</form>
</div>
